*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}
.button{
  background-color: $secondaryColor;
  padding: 10px 20px;
  width: 80%;
  max-width: 350px;
  margin:20px auto;
  display: block;
  @include flex-align-self-center;
  &.book-now{
    position: absolute;
    top:10px;
    left: 10px;
    margin-top: 0px;
  }
  &.small{
  max-width: 150px;
  }
  &.dark{
    background-color: $primaryColor;
    p{
      color: $secondaryColor;
    }
  }
  &:hover{
    cursor: pointer;
  }
  p{
    color: $primaryColor;
    text-align: center;
    letter-spacing: 2px;
  }
}

form{
  width: 100%;
  max-width: 860px;
  margin: 20px auto;
  .form-top{
    @include flex;
    @include flex-column;
  }
  .form-left, .form-right{
    @include flex;
    @include flex-column;
  }
  input, textarea,select{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    color: $primaryColor;
    background-color: $secondaryColor;
    border: none;
    transition: all 0.5s ease-in-out;
  }
  textarea{
    height: 231px;
  }
  select{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/dist/images/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 25px 25px;
  }
}

figure{
  background-color:#ffe9e4;
  width: 100%;
  max-width: 320px;
  padding: 30px 30px 10px 30px;
  margin: 20px auto;
  -webkit-box-shadow: -8px 9px 38px -8px rgba(0,0,0,0.41);
  -moz-box-shadow: -8px 9px 38px -8px rgba(0,0,0,0.41);
  box-shadow: -8px 9px 38px -8px rgba(0,0,0,0.41);
  img{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  p{
    &:nth-child(1){
      font-family: $primaryFont;
      font-size: 2.5rem;
      font-weight: 800;
    }
  }
  div.stylist-social-media{
    @include flex;
    @include flex-row;
    @include flex-justify-center;
    img{
      width: 50px;
      margin: 5px 5px;
    }
  }
}
