main{
  section{
    width: 100%;
    background-color: $primaryColor;
    padding:50px 0px;
  &.pattern-bg{
    background-image: url(/dist/images/pattern-bg.png);
    background-repeat: repeat;
    h2{
      color: $primaryColor;
      &:after{
        background: rgba($primaryColor,1)!important;
      }
    }
    .feature{
      width: 100%;
      margin: 20px 0;
    }
    .grid{
      img{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  &.hair-pattern{
    background-image: url(/dist/images/hair-pattern-bg.jpg);
    border: 10px solid $primaryColor;
  }
    .inner-container{
      width: 100%;
      padding: 20px;
      max-width: 1440px;
      margin: 0 auto;
      &.items-center{
        @include flex;
        @include flex-column;
      }
      h2{
        text-align: center;
        &:after{
          content: '';
          display: block;
          background: rgba($secondaryColor,1);
          width: 25%;
          max-width: 100px;
          height: 2px;
          margin: 15px auto 10px auto;
        }
      }
      .profile-pic{
        img{
          display: block;
          width: 80%;
          max-width: 325px;
          margin:0 auto 20px auto;
          border-radius: 50%;
        }
      }
      p{
        text-align: center;
      }
      .icon-wrapper{
        width: 100%;
        max-width: 860px;
        margin: 0 auto;
        .single-icons{
          background-color: $secondaryColor;
          padding: 10px 20px 10px 10px;
          @include inline-flex;
          @include flex-align-center;
          min-width: 100%;
          margin-bottom: 2rem;
          &:last-child{
            margin-right: 0;
          }
          img{
            width: 40px;
            height: 40px;
            margin-right: 20px;
          }
          p{
            word-wrap: break-word;
          }
        }
      }
    .profile-content{
      p{
        text-align: left;
      }
      .social-media{
        margin-top: 20px;
        img{
          width: 50px;
          margin-right: 10px;
        }
      }
    }
      &.products{
        .product-header, .product-widget-wrapper{
          margin: 0 auto;
          width: 100%;
          max-width: 1000px;
          @include flex;
          @include flex-column;
          @include flex-justify-center;
          @include flex-align-center;
          .product-info-wrapper{
            order: 2;
            h3{
              color: $primaryColor;
              padding: 0 20px;
              line-height: 4rem;
            }
          }
          img{
            order: 1;
            width: 80%;
            max-width: 400px;
          }
        }
      .product-widget-wrapper{
        padding: 20px;
        .product-widget{
          @include flex;
          @include flex-align-center;
          @include flex-justify-center;
          width: 80%;
          height: 150px;
          background-color: $white;
          padding: 15px;
          -webkit-box-shadow: -8px 9px 38px -8px rgba(0,0,0,0.41);
          -moz-box-shadow: -8px 9px 38px -8px rgba(0,0,0,0.41);
          box-shadow: -8px 9px 38px -8px rgba(0,0,0,0.41);
          margin-bottom: 30px;
        }
      }
      }
      article.col-2{
        @include flex;
        @include flex-column;
        width: 100%;
        max-width: 1000px;
        margin: 20px auto;
        border: 10px solid $primaryColor;
        .col-50{
          min-height: 300px;
          &.image{
            background-size: cover;
            background-position: center center;
            &:nth-child(1){
              background-image: url(/dist/images/stylists/jade-scissors.jpg);
            }
            &:nth-child(2){
              background-image: url(/dist/images/stylists/jade.jpg);
            }
          }
          &.text{
            @include flex;
            @include flex-column;
            @include flex-align-center;
            background-color: $primaryColor;
            padding: 20px;
            h2,h3{
              color: $secondaryColor;
              text-align: center;
            }
            h3{
              &:nth-of-type(2){
                text-align: center;
              }
            }
            p{
              text-align: left;
            }
            blockquote{
              color: $secondaryColor;
              position: relative;
              font-style: italic;
              margin-bottom: 40px;
              &:before{
                content: '\201C';
                display: block;
                width: 30px;
                height: 30px;
                font-size: 70px;
                margin-bottom: 15px;
              }
              &:after{
                position: absolute;
                right: 20px;
                width: 30px;
                height: 30px;
                content: '\201D';
                display: block;
                font-size: 70px;
                margin-top: -20px;
              }
            }
            .button{
              margin-top: 50px;
              p{
                text-align: center;
              }
            }
          }
        }
      }
    }

  &.fixed-bg{
    padding: 100px 0;
    background-image: url(/dist/images/jade-bg-mob.jpg);
    background-attachment: fixed;
    background-size: cover;
    @include flex;
    @include flex-justify-center;
    @include flex-align-center;
  }
  &.testimonial{
    .testimonial-wrapper{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
    h3{
      text-align: center;
    }
    img.testimonial-img{
      object-fit: cover;
      width: 150px;
      height: 150px;
      display: block;
      margin: 20px auto 10px auto;
      border-radius: 50%;
    }
    .rating-wrapper{
      width: 100%;
      margin: 20px 0;
      @include flex;
      @include flex-align-center;
      @include flex-justify-center;
      img.rating{
        width: 25px;
        margin-right: 5px;
      }
    }
  }
} //end of section
}
