$largeMobile: "(min-width: 425px)";
$small-tablet: "(min-width: 600px)";
$tablet: "(min-width: 768px)";
$laptop: "(min-width: 1024px)";
$desktop: "(min-width: 1440px)";


@media #{$tablet} {
  header{
    background-color: pink;
    div.landing{
      .nav-trigger{
        display: none;
      }
      nav{
        @include flex;
        @include flex-row;
        @include flex-justify-center;
        background-color:transparent;
        height: auto;
        padding-top: 0px;
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        img.side-image,.nav-social-media{
          display: none;
        }
        a{
          margin: 30px 0px 0 0;
          font-size: 1.5em;
          padding: 10px 5px;
          margin-right: 10px;
          &:after{
            content: '';
            display: block;
            background: rgba($secondaryColor,1);
            width: 0%;
            height: 2px;
            margin: 10px auto 0 auto;
            transition: all 0.5s ease-in-out;
          }
          &:hover:after {
            content: '';
            display: block;
            background: rgba($secondaryColor,1);
            height: 2px;
            width: 100%;
            margin: 10px auto 0 auto;
          }
        }
      }
      height: 70vh;
      nav{
      }
      }
  } //end of header
  main{
    section{
      &.fixed-bg{
        background-image: url(/dist/images/jade-bg.jpg);
      }
      &.hair-pattern{
        padding-bottom: 30px;
      }
      &.pattern-bg{
        .inner-container{
          .work-image-wrapper{
            width: 70%;
            margin: 20px auto 0 auto;
            display: flex;
            .feature-image-wrapper{
              width:50%;
              padding-right:20px;
              img.feature{
                width:100%;
                margin: 0; // reset mobile styling
              }
            }
            .grid{
              @include flex;
              @include flex-row;
              @include flex-wrap;
              width:50%;
              .cell{
                width:50%;
                padding:0 20px 20px 0;
              }
              img{
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .inner-container{
        .stylist-wrapper{
          @include flex;
          @include flex-row;
          width: 700px;
          margin: 20px auto;
        }
        &.products{
          h3{
            text-align: center;
            color: $primaryColor;
          }
          .product-header{
            @include flex-row;
            .product-info-wrapper{
              order: 1;
            }
            img{
              order: 2;
            }
          } // end of product-header
          .product-widget-wrapper{
            @include flex;
            @include flex-row;
            .product-widget{
              width:180px;
              margin-right: 30px;
            }
          }
        } //end of products
        &.stylist{
          .profile-wrapper{
            margin: 0 auto;
            @include flex;
            @include flex-row;
            @include flex-justify-center;
            .profile-pic{
              img{
                display: block;
                width: 100%;
                border-radius:0;
              }
            }
            .profile-content{
              width: 600px;
              min-width: 420px;
              margin-left: 20px;
              h2{
                text-align: left;
                margin-bottom: 20px;
                &:after{
                  display: none;
                }
              }
            }
          }
        }
      } //end of inner-container
    } //end of main section
  }
  form{
    .form-top{
      @include flex-row;
    }
    .form-left, .form-right{
      width: 50%;
    }
    .form-left{
      margin-right: 20px;
    }
    input, textarea,select{
      &[type=button]{
        max-width: inherit;
        width: 100%;
      }
      &[type=button]:hover{
        cursor: pointer;
        background-color: $tertiaryColor;
      }
    }
  }
  }
