$largeMobile: "(min-width: 425px)";
$small-tablet: "(min-width: 600px)";
$tablet: "(min-width: 768px)";
$laptop: "(min-width: 1024px)";
$desktop: "(min-width: 1440px)";


@media #{$tablet} {
  header{
    background-color: pink;
    div.landing{
      .nav-trigger{
        display: none;
      }
      nav{
        @include flex;
        @include flex-row;
        @include flex-justify-center;
        background-color:transparent;
        height: auto;
        padding-top: 0px;
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        img.side-image,.nav-social-media{
          display: none;
        }
        a{
          margin: 30px 0px 0 0;
          font-size: 1.5em;
          padding: 10px 5px;
          margin-right: 10px;
          &:after{
            content: '';
            display: block;
            background: rgba($secondaryColor,1);
            width: 0%;
            height: 2px;
            margin: 10px auto 0 auto;
            transition: all 0.5s ease-in-out;
          }
          &:hover:after {
            content: '';
            display: block;
            background: rgba($secondaryColor,1);
            height: 2px;
            width: 100%;
            margin: 10px auto 0 auto;
          }
        }
      }
      height: 70vh;
      nav{
      }
      }
  } //end of header
  main{
    section{
      &.fixed-bg{
        background-image: url(/dist/images/jade-bg.jpg);
      }
      &.hair-pattern{
        padding-bottom: 30px;
      }
      &.pattern-bg{
        .inner-container{
          .work-image-wrapper{
            width: 70%;
            margin: 20px auto 0 auto;
            display: flex;
            .feature-image-wrapper{
              width:50%;
              padding-right:20px;
              img.feature{
                width:100%;
                margin: 0; // reset mobile styling
              }
            }
            .grid{
              @include flex;
              @include flex-row;
              @include flex-wrap;
              width:50%;
              .cell{
                width:50%;
                padding:0 20px 20px 0;
              }
              img{
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .inner-container{
        .icon-wrapper{
          width: 100%;
          max-width: 860px;
          margin: 0 auto;
          @include flex;
          @include flex-space-between;
          .single-icons{
            background-color: $secondaryColor;
            padding: 10px 20px 10px 10px;
            @include inline-flex;
            @include flex-align-center;
            @include flex-justify-center;
            min-width: calc(96% /3);
            margin-right: 2% 0;
            &:last-child{
              margin-right: 0;
            }
            img{
              width: 40px;
              height: 40px;
              margin-right: 20px;
            }
          }
        }
        &.products{
          h3{
            text-align: center;
            color: $primaryColor;
          }
          .product-header{
            @include flex-row;
            .product-info-wrapper{
              order: 1;
            }
            img{
              order: 2;
            }
          } // end of product-header
          .product-widget-wrapper{
            @include flex;
            @include flex-row;
            .product-widget{
              width:180px;
              margin-right: 30px;
            }
          }
        } //end of products
        article.col-2{
          @include flex;
          @include flex-row;
          width: 100%;
          max-width: 1000px;
          margin: 20px auto;
          border: 10px solid $primaryColor;
          .col-50{
            height: 500px;
            flex: 1;
            &.image{
              background-size: cover;
              background-position: center center;
              &:nth-child(1){
                background-image: url(/dist/images/stylists/jade-scissors.jpg);
              }
              &:nth-child(2){
                background-image: url(/dist/images/stylists/jade.jpg);
              }
            }
            &.text{
              background-color: $primaryColor;
              padding: 20px;
              h2{
                color: $secondaryColor;
                text-align: left;
                margin: 0;
                padding: 0;
              }
              h3{
                  text-align: center;
              }
              p{
                text-align: left;
              }
              blockquote{
                color: $secondaryColor;
                position: relative;
                font-style: italic;
                margin-bottom: 40px;
                &:before{
                  content: '\201C';
                  display: block;
                  width: 30px;
                  height: 30px;
                  font-size: 70px;
                  margin-bottom: 15px;
                }
                &:after{
                  position: absolute;
                  right: 20px;
                  width: 30px;
                  height: 30px;
                  content: '\201D';
                  display: block;
                  font-size: 70px;
                  margin-top: -20px;
                }
              }
              .button{
                margin-top: 50px;
                p{
                  text-align: center;
                }
              }
            }
          }
        }
      } //end of inner-container
    } //end of main section
  }
  form{
    .form-top{
      @include flex-row;
    }
    .form-left, .form-right{
      width: 50%;
    }
    .form-left{
      margin-right: 20px;
    }
    input, textarea,select{
      &[type=button]{
        max-width: inherit;
        width: 100%;
      }
      &[type=button]:hover{
        cursor: pointer;
        background-color: $tertiaryColor;
      }
    }
  }
  }
@media #{$laptop}{
}
